/*
When not using inline styling, we use good ol' CSS!
Because this is React.js, we import this file
and use className = {styles.<insert-style-name>} in the tag
*/

.container {
  padding: 2 2rem;
}

.sponsorImage {
  height: 5vh;
  margin-left: 2vw;
  filter: brightness(0);
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tablestyle {
  border: 2px solid black;
  width: "80%";
  height: 200px;
  border-collapse: collapse;
  margin: 5px;
}

.specstyle {
  border: 2px solid black;
  width: "80%";
  height: 50px;
  border-collapse: collapse;
  margin: 5px;
}

.thstyle {
  border: 1px solid black;
  padding: 5px;
  border-collapse: collapse;
}

.tdstyle {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  border-collapse: collapse;
}

.footer {
  display: flex;
  flex: 1;
  font-size: 16;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1.5em;
  margin-right: 0.5rem;
}

.sponsor {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
